entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "postgresql", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run Mobikit"
author = 45176243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Mobikit Stable"
author = 45176243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -u main.py"

[[workflows.workflow]]
name = "Run Stable Server"
author = 45176243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Start Flask App"
author = 45176243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34769
externalPort = 3002

[[ports]]
localPort = 44101
externalPort = 3001

[[ports]]
localPort = 45501
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-18a58625-bff7-44cb-bbf9-e8b65ac6622c"

[agent]
expertMode = true
