entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Mobikit Stable"

[[workflows.workflow]]
name = "Run Mobikit"
author = 45176243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Mobikit Stable"
author = 45176243
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -u main.py"

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-18a58625-bff7-44cb-bbf9-e8b65ac6622c"
