
psycopg2-binary==2.9.7
flask
psycopg2-binary
werkzeug
psycopg2-binary
replit-object-storage
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
flask-dance
flask-login
oauthlib
pyjwt
email-validator
flask
flask-dance
flask-login
flask-migrate
flask-sqlalchemy
gunicorn
oauthlib
pillow
psycopg2-binary
pydantic
pyjwt
python-dotenv
pytz
replit-object-storage
sqlalchemy
python-dateutil
pytest
requests
pendulum
pendulum
