flask
flask-sqlalchemy
flask-migrate
flask-login
flask-dance
gunicorn
werkzeug==3.0.4
psycopg2-binary==2.9.9
sqlalchemy==2.0.32
pydantic==2.8.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
oauthlib
pyjwt
email-validator
pillow==10.4.0
replit-object-storage
sendgrid>=6.9.7
python-dateutil
pytest
pendulum
numpy
scipy
openpyxl==3.1.5
